html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f1de;
  color: #3d405b;
}

h2 {
  color: #81b29a;
}

h3 {
  color: #81b29a;
}

a {
  color: #e07a5f;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.hamburger {
  background: none;
  border: none;
  width: 60px;
  display: none;
}

#logo {
  height: 50px;
  padding: 0 20px;
}

.section {
  padding: 15vh 25vw;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #e07a5f;
  width: 100%;
  height: 70px;
}

.nav-links {
  display: flex;
}

.nav-links a {
  padding: 1rem;
  color: #f4f1de;
}

.project {
  padding: 20px 0;
}
.project a {
  padding-right: 1rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill-icon {
  width: 70px;
  padding: 12px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-icon {
  margin-right: 10px;
  padding: 5px;
  fill: #e07a5f;
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 14px 0;
}

.footer {
  text-align: center;
  font-size: x-small;
  margin-top: 20px;
}
.headshot-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.headshot {
  height: 300px;
  width: 300px;
  border-radius: 100%;
}

.proj-img-container {
  display: flex;
  justify-content: center;
}

.proj-img {
  width: 400px;
  border: #81b29a;
  border-style: solid;
  border-width: 3px;
  margin: 5px;
}

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 25vw;
}

.section-dark {
  background-color: #3d405b;
  color:#f4f1de;
}

@media screen and (max-width: 600px) {
  .hamburger {
    display: block;
  }
  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: #e07a5f;
    display: none;
    /* transform: translateX(0vw); */
  }
  .nav-links.expanded {
    display: flex;
  }

  .nav-links a {
    padding: 1rem 40px;
    text-align: right;
  }
  .section {
    padding: 20vh 20px;
  }
  .headshot {
    height: 200px;
    width: 200px;
  }
  .proj-img {
    width: 87vw;
  }
  .skill-icon {
    width: 60px;
    padding: 6px 12px;
  }
  .contact-container {
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-item {
    margin-left: 25vw;
  }
}
